/* -------------------------------------
     Common Utilities and Resourcs 
----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    
}

.half-width-2{
    width: 50%;
}

main{
    margin:0px   120px;
}

/*------------------------------
            header starts here
-------------------------------- */
.header-class{
    display: flex;
    justify-content: space-between;
}

/* .half-width{
     width: 50%;    
} */                    /*<---------way-1: emne o kora jai */


.navigation{
    display: flex;
    /* justify-content: space-around;*/  /*<---------way-1: emne o korajai */
}
.header-class-2{
    display: none;
}
nav li{
    list-style: none;
    margin: 0 20px;
}

nav li a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/*---------------------------------
 Top Banner section Start here 
-----------------------------------*/

.top-section{
    display: flex;
}
.top-detail p{
    margin-bottom: 30px;
}
.btn{
    text-decoration: none;
    background-color:rgb(203, 60, 84);
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
}

/* -----------------------------------
    hr and brand section starts here
---------------------------------- */
hr{
    width: 80%;
}

.brands{
    width: 100%;
    text-align: center;
}

.brands img{
    margin: 0px 25px;
}

/*---------------------------------------
        popular-collection  start here
----------------------------------------*/
.popular-collection{
    margin-top: 130px;
    margin-bottom: 200px;
}
.popular-collection-title{
    text-align: center;
}

.star-color{
    color: goldenrod;
}

.products-daday{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
}
.product{

}
h3{
    font-weight: 400;
}

.see{
    text-align: right;
}
.see-buton{
    border: none;
    color:rgb(203, 60, 84);

}
.up-comming-product{
    display: flex;

}

.thumbnail{
    width: 40%;
}

.up-comming-detail{
    width: 60%;
}

#btn-extra{
    border-radius: 1px;
}

/* --------------------
            footer 
-----------------------*/
.foot{
    text-align: center;
    background-color: #0A0826;
    color: white;
    margin-top: 100px;
}

.foot-daday{
    padding-top: 50px;
    padding-bottom: 50px;
}

/* Media Quarry start here */

@media  screen and (max-width:600px){
   main{
    margin: 0px;
   }
    .header-class{
    display: none;
   }


   .header-class-2{
    display: inline-block;
   }

   .header-class-2 .small{
    display: flex;
   }
   .top-section{
    flex-direction: column-reverse;
   }
   .top-detail{
    text-align: center;
   }
   .half-width-2{
    width: 100%;
   }

   hr{
    display: none;
   }
   .brands{
    margin-top: 50px;
   }
   .products-daday{
    grid-template-columns: repeat(1,1fr);
   }
   .product{
    width: 100%;
    
   }
   .product-details{
    margin-left: 25px;
   }
   .thumbnail {
    width: 100%;
    text-align:  center;
   }

   .thumbnail img{
    width: 90%;
    margin-top: 30px;
   }
   .up-comming-product{
    flex-direction: column-reverse;

   }
   .up-comming-detail{
   
    width: 90%;
    text-align: center;
    margin: 0 auto;
   }
   
}